a {
  margin: 10px;
  padding: 10px;
  background-color: pink;
}
p {
  width: 350px;
  background-color: blanchedalmond;
}
.block {
  width: 350px;
  display: block;
}
.inline {
  background-color: orange;
  display: inline;
}
.inline-block {
  width: 180px; margin: 10px; padding: 20px;
  background: purple;
  display: inline-block;
}
.inline-block-vertical-align-top {
  width: 180px; margin: 10px; padding: 20px;
  background: palevioletred;
  display: inline-block;
  vertical-align: top;
}
