<template>
  <div id="app">
    <h1>Nested Components Exercise</h1>
    <shopping-search v-on:newSearch="handleNewSearch"></shopping-search>
    <ShoppingList title="Groceries" v-bind:data="groceries"
    v-bind:searchString="searchString"></ShoppingList>
    <ShoppingList title="Costco" v-bind:data="costco"
    v-bind:searchString="searchString"></ShoppingList>
    <ShoppingList title="Targej" v-bind:data="target"
    v-bind:searchString="searchString"></ShoppingList>
  </div>
</template>

<script>
import ShoppingList from './components/ShoppingList.vue';
import ShoppingSearch from './components/ShoppingSearch.vue';

export default {
  name: 'app',
  components: {
    ShoppingList,
    ShoppingSearch
  },
  data() {
    return {
      searchString: '',
      groceries: [
        { id: 1, name: 'Fish', completed: false },
        { id: 2, name: 'Sausage', completed: false },
        { id: 3, name: 'Goat Skulls', completed: false },
        { id: 4, name: 'Liver', completed: false },
        { id: 5, name: 'Veal', completed: false },
      ],
      costco: [
        { id: 1, name: 'Yakisoba', completed: false },
        { id: 2, name: 'Quiche', completed: false },
        { id: 3, name: 'Chalk', completed: false },
        { id: 4, name: 'Bowl', completed: false },
        { id: 5, name: 'Apples', completed: false },
      ],
      target: [
        { id: 1, name: 'Fabric for Ritual Dress', completed: false },
        { id: 2, name: 'A Full Moon', completed: false },
        { id: 3, name: 'Candelabra', completed: false },
        { id: 4, name: 'Matches', completed: false },
        { id: 5, name: 'Rope', completed: false },
      ]
    }
  },
  methods: {
    handleNewSearch(searchText) {
      this.searchString = searchText;
    }
  }
}
</script>

<style>
body {
  background: rgb(61,201,164);
  background: radial-gradient(circle, rgba(61,201,164,1) 50%, rgba(92,133,120,1) 100%);
}
#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
h1 {
  grid-row: 1;
  grid-column: 1 / 4;
  text-align:center;
  color:#f2f2f2;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}
.search { 
  grid-column: 2 / 3;
  grid-row: 2;
}
.shopping-list {
  grid-row: 3;
}
</style>
