<template>
  <div id="app">  <!-- contains the components to be displayed in teh browser -->
    <search-bar v-on:filterEvent="handleFilterEvent"/> <!-- When a filterEvent happens run the handleFilterEvent method-->
    <product-review
      name="Cigar Parties for Dummies"
      description="Host and plan the perfect cigar party for all of your squirrelly friends."
      v-bind:filterData="filterSearchData"
       /> <!--name in child = "name-in-parent" -->
    <product-review
      name="Tech Elevator Bootcamp Extravaganza"
      description="14 crazy weeks of fun and coding with an emphasis on the coding"
      v-bind:filterData="filterSearchData"
       /> <!--name in child = "name-in-parent" -->
       />
  </div>
</template>

<script>
import ProductReview from './components/ProductReview.vue';
import SearchBar     from './components/SearchBar.vue';

export default {
  name: 'app',
  components: {
    ProductReview,
    SearchBar
  },
  data() {
    return {
       filterSearchData: ''   // hold the data from the filterEvent
    };
  },
  methods: {
     handleFilterEvent(filterText){   // handle the filterEvent when it occurs
       this.filterSearchData = filterText;  // store the data from the filterEvent in our data variable
     }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#app div.main {
  display: inline-block;
  width: 45%;
  padding: 1em;
  border: 1px black solid;
  border-radius: 5px;
  margin: 0 1em;
  vertical-align: top;
}
</style>
