:root {
    --orange: #f7921c;
    --grey: #f2f2f4;
    --dark-grey: rgba(50, 53, 62, 0.05);
    --black: rgba(60, 60, 60, 1);
    --aCouple: 8px;
  }
  * {
    box-sizing: border-box;  /* every box adheres to width and height we set */
    font-family: "Roboto Slab", serif;
  }
  html {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23f7921c' fill-opacity='0.14' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  }
<<<<<<< HEAD
  * {
    box-sizing: border-box;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr; /*666 columns!!!*/
    grid-template-areas:
    ". header header nav nav ."
    ". main main main main ."
    ". fall-festival fall-festival store store .";
    grid-gap: 10px;
  }
  header {
    grid-area: header;
  }
  img { 
    /* STAY WITHIN YOUR BOX YOU MOTHERFUCKERS!!! */

    width: 100%;
  }
  main {
    grid-area: main;
    display: flex;
    background-color: gray;
  }
  main img {
    width: 35%;
    height: 350px;
    object-fit: cover;  /*fit the image to the box without distortion*/
  }
  main .content {
    margin-left: 20px;
  }
  #order-now {
    grid-area: fall-festival;
    background-color: gray;
  }
  #store {
    grid-area: store;
    background-color: gray;
  }
  nav {
    grid-area: nav;
    display: flex;
=======
  body {
    display: grid;
    grid-template-columns : 1fr 2fr 2fr 2fr 2fr 1fr; /* 6-columns */
    grid-template-areas: 
    ". header        header        nav    nav   ."
    ". main          main          main   main  ."
    ". fall-festival fall-festival store  store .";
    grid-gap: 10px;
  }
    header {
      grid-area : header;
    }
    main {
      grid-area : main;
    }
    #order-now {
      grid-area: fall-festival;
    }
    #store {
      grid-area : store;
    }
    nav {
      grid-area: nav;
    }
  img {  /* tell images to stay within 100% of their box */
    width:100%;
  }
  nav {
    display:flex;
>>>>>>> 3091bf34a85c129f88e2e17b88dc2defa91ea16e
    flex-direction: column;
    justify-content: flex-end;
  }
  nav ul {
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
=======
    display : flex;  /* treat as a flex-box */
    justify-content: space-between; 
>>>>>>> 3091bf34a85c129f88e2e17b88dc2defa91ea16e
    margin: 0px;
    padding: 0px;
  }
  nav ul li {
    list-style: none;
    width: 30%;
<<<<<<< HEAD
    background-color: var(--orange);
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
=======
    background-color: var(--orange); /* button color */
    text-align: center;
    line-height: 50px;    /* set button height */
    border-radius : 5px;  /* round the corners */
>>>>>>> 3091bf34a85c129f88e2e17b88dc2defa91ea16e
    text-transform: uppercase;
  }
  nav ul li a {
    text-decoration: none;
<<<<<<< HEAD
  }
  #store h3 {
    text-align: center;
  }
  #store a {
    text-align: center;
    display: block;
    background-color: black;
    width: 25%;
    color: white;
    border-radius: 20px;
    line-height: 50px;
    margin: 0 auto; /*really just centers the button*/
    text-decoration: none;
  }
  p {
    padding-left: 5px;
    padding-right: 5px;
=======
    color: black;
  }
  main {
    display : flex;
    background-color: var(--grey);
  }
  main img {
    width : 35%;
    height: 350px;
    object-fit: cover; /* fit the image to the box without distortion */
  }
  main .content {
    margin-left: 20px;
  }
  #store h3 {
    text-align : center;
  }
  #store a {
    text-align: center;
    display:block;
   background-color: var(--black) ;
   width: 25%;
   color : var(--orange);
   border-radius: 5px;
   line-height: 50px;
   margin: 0 auto;   /* center the button in the area */
   text-decoration: none;
   text-transform: uppercase;
  }
  section {
    background-color: var(--grey);
  }
  p {
    padding-left: var(--aCouple);
    padding-right: var(--aCouple);
>>>>>>> 3091bf34a85c129f88e2e17b88dc2defa91ea16e
  }