:root {
    --top-row-height: 125px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  body {
    background-color: var(--bg-color);
  }
  
  aside {
    width: 170px;
    height: 90%;
    position: fixed;
    border-right:solid var(--light-blue) 2px;
    z-index:10;
  }

  aside img {
    /*make small*/
    display: block;
    margin: 0px;
    width: 70%;
    margin: 30px;
  }

  aside ul {
    list-style: none;
    font-size: 20px;
    text-align: center;
  }

 a {
  text-decoration: none;
  color: var(--light-blue);
  border-bottom:solid var(--light-blue) 2px;
 }

  aside ul li {
    margin-bottom: 10px;
    margin-left: 0px;
  }

  main {
    position: absolute;
    left: 200px;
    height: 150px;
    z-index:5;
  }

  main header img {
    height: 150px;
    width: 300px;
  }

  main > img {
    width: 2400px;
    height: 800px;
  }

  h2 {
    color: var(--light-green);
  }

  section {
    position: relative;
    top: 20px;
    column-count: 3;
    
  }

  #what-we-do {
    border-right:solid var(--light-green) 2px;
  }

  #our-work {
    border-right:solid var(--light-green) 2px;
  }

  footer {
    position: relative;
    top: 30px;
  }