:root {
    --blue: #00adee;
    --grey: #505355;
    --vert-gap: 20px;
    --horiz-gap: 50px;
}
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    background-color: rgba(192, 192, 192, 0.1);
    margin-left: 8%;
    margin-right: 8%;
}
#student-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header image"
    "body body contact-info"
    "about about about";
    grid-column-gap: var(--vert-gap);
    grid-row-gap: var(--horiz-gap);
}
#student-quote {
    grid-area: header;
}
#student-picture {
    grid-area: image;
}
#student-picture img {
    border-radius: 50%;
}
#student-profile {
    grid-area: body;
}
#student-contact {
    grid-area: contact-info;
    text-align: center;
}
#experience {
    grid-area: about;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#experience div {
    width: 33%;
}
#experience h3 {
    color: var(--blue);
}
#experience p {
    margin: 10px;
}
header img {
    width: 20%;
}