<template>
    <div class="search">
        <input type="text" id="search" name="search" v-model="searchText" placeholder="Search
Shopping List..." v-on:keyup="emitKeyPress"/>
    </div>
</template>


<script>
export default {
    data() {
        return {
            searchText: ''
        }
    },
    methods: {
        emitKeyPress() {
            this.$emit( 'newSearch',this.searchText);
        }
    }
}
</script>


<style>
#search {
    width:100%;
    font-size:24px;
    font-family: 'Roboto Condensed', sans-serif;
    padding:10px;
}
</style>