<template>
  <div id="app">
    <shopping-list></shopping-list>
    <!-- <HelloWorld msg="Welcome to the First Day of the End of Your Existence"/> -->
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import ShoppingList from './components/ShoppingList.vue'

export default {
  name: 'app',
  components: {
    //HelloWorld,
    ShoppingList,
  },
};
</script>

<style>
body {
  background: rgb(61,201,164);
  background: radial-gradient(circle, rgba(61,201,164,1) 50%,
rgba(92,133,120,1) 100%);
}
</style>
