<template>
    <div class="main">
        <h2>Product Reviews for {{ name }}</h2>
        <p class="descriptin">{{ description }}</p>
    </div>
</template>

<style scoped>
    div.main {
        margin: 1rem 0;
    }
</style>

<script>
    export default {
        name: 'product-review',
        data() {
            return {
                name: "Frank's Book of Dumb Dad Jokes",
                description: "Literal garbage. A dumpster fire of painful puns and "
                + "awful attempts at what could be considered humor."
            }
        }
    }
</script>