<template>
<div  class='shopping-list'>
    <h1>Necessary Baubles</h1>
    <ul>
        <li>{{ listOfItems[0] }}</li>
        <li>{{ listOfItems[1] }}</li>
        <li>{{ listOfItems[2] }}</li>
        <li>{{ listOfItems[3] }}</li>
        <li class='completed'>{{ listOfItems[4] }}</li>
        <li>{{ listOfItems[5] }}</li>
        <li>{{ listOfItems[6] }}</li>
        <li>{{ listOfItems[7] }}</li>
        <li>{{ listOfItems[8] }}</li>
        <li>{{ listOfItems[9] }}</li>
    </ul>
</div>
</template>

<style>
.shopping-list {
    width:450px;
    background: #fff;
    margin: 50px auto;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
}
h1 {
    background:#f2f2f2;
    color:#5c8578;
    padding:10px;
    font-size:24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
}
li {
    font-size: 24px;
    border-bottom:1px solid #f2f2f2;
    padding:10px 20px;
}
li:last-child {
    border:0px;
}
li.completed {
    text-decoration: line-through;
    color:darkgrey;
}
</style>

<script>
export default {
    name: 'shopping-list',
    data() {
        return {
            listOfItems: ['Roses', 'Goat Skulls', 'Pig Blood', 'Chalk',
            'Disposable Gloves', 'A Candelabra', 'Matches', 'Pentagram Ring',
            'Amethyst', 'Fabric for Ritual Dress'],
        };
    },
};
</script>
